* {
  margin: 0;
  padding: 0;
}
.students-dash {
  background-color: #98c1d9;
}
.navbar {
  border-bottom: 1px solid black;
  background-color: white;
}
.welcome-text {
  text-align: center;
  margin-bottom: 10px;
}
.single {
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  gap: 1em;
}
.single h3 {
  font-size: 30px;
  text-align: left;
}
.single button {
  padding: 8px 12px;
  /* margin-top: 50px; */
  cursor: pointer;
  color: #98c1d9;
  background-color: #293241;
  border: none;
  border-radius: 10px;
}
.single button:hover {
  background-color: #1a659e;
}
.profile-cards {
  padding: 8px;
}
