/* ! colors */
:root{
    --light_green:#38b000;
    --darkGreen:#008000a8;
    --darkBlue:#293241;
    --lightOrange:#ee6c4d;
    --lightWhite:#e0fbfc;
    --lightBlue:#98c1d9;
    --secondDarkBlue:#3d5a80;
    --bg:#f1f5f8;
    --clearWhite:#ffff;
    --txtOne:#edf6f9;
    --boldDarkText:#1a659e;

    --boxshadow:rgba(0, 0, 0, 0.1) 0px 4px 12px;


}
*{
    font-family: 'Poppins', sans-serif;
}

  @import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Montserrat:ital,wght@0,400;0,500;1,300;1,400&family=Nova+Mono&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500&display=swap');




/* ! signup page */
.signupcontainer{
    width: 100%;
    height: 100vh;
    background-color: var(--bg);
    display: grid;

}
.singupForm{
    background-color: var(--bg);
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 1em;

}
.singupForm h1{
    text-align: center;
    color: var(--boldDarkText);
}
.inputs{
   
    padding: 1em ;
    position: relative;
}
.fa-eye,
.fa-eye-slash{
    position: absolute;
    right: 10%;
    top: 38%;
    
}
.inputs input{
    padding: 1em ;
    border-radius: 5px;
    border: none;
    box-shadow: var(--boxshadow);

}
.inputs input:focus{
    outline: 2px solid var(--boldDarkText);
}
.btnsign{
    color: var(--lightWhite);
    background-color: var(--boldDarkText);
    padding: 10px 3em;
   width: 100%;
   border-radius: 100vw;
   border: none;
   
}
.signdetails{
    background-color: var(--lightBlue);
    color: var(--txtOne);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 1.5em;
    gap: 2em;
    padding: 1em;
    transition: all 1s;
}
.signdetails h2{
    font-size: 2em;
    letter-spacing: 3px;
line-height: 1em;

}
/* ! general buttons */
.btn{
    padding: 10px 15px;
    cursor: pointer;
}
.preloader{
    width: 70px;
    height: 70px;
    position: absolute;
    top: 10%;
}
.preloader img{
    width: 100%;
}

.signupsbtn{
    background: none;
    border-radius: 50vw;
    padding: 10px 4em;
    border: 2px solid var(--txtOne);
transition: .3s ease-in-out;

color: var(--clearWhite);
}
.signupsbtn:hover{
    color: var(--darkBlue);
    background-color: var(--txtOne);
}


/* !home pages */
.landing_conatiner{
    background-color: var(--clearWhite);
}
.landingPage{
    display: grid;
   background-color: var(--clearWhite);
    padding: 2em;
    min-height: 50vh;
    max-height: 80vh;
}

.prefences{
    min-height: 60vh;
}
.name{
    color: var(--lightOrange);
}


.illustrator img{
    width: 100%;
}
.content,
.illustrator{
    display: flex;
    flex-direction: column;
    line-height: 3.5em;
    align-items: center;
    justify-content: center;
    text-align: left;
}
.content h1{
    color: var(--boldDarkText);
    font-weight: 600;
}
.content h2{
    color: var(--lightOrange);
    font-family: 'Montserrat', sans-serif;
}



/* !end of home pages */



/* !prefences */

.prefences{
    display: grid;
    background-color: var(--bg);
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    padding: 1em;
    position: relative;
    place-content: center;
}
.single{
    width: 100%;
    background-color: var(--clearWhite);
    box-shadow: var(--boxshadow);
    height: 150px;
    text-align: center;
    border-radius: 5px;
   
position: relative;
}


.popUpContainer{
    position: fixed;
    background-color: #1a659e59;
    width: 100%;
    height: 100%;
    z-index: 1;
    top: 0;
    display: grid;
    place-items: center;
    
}
.click{
    border-radius: 5px;
    border: none;
    background-color: var(--boldDarkText);
    color: var(--bg);
    box-shadow: var(--boxshadow);
}
.requstMentor{
    text-align: center;
    line-height: 2em;
    padding: 1em;
    
}

/* ! cart */
.cartIcon{
    background-color: #1a659e;
    position: fixed;
    bottom: 1em;
    right: 4em;
    padding: 10px;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: grid;
    place-content: center;
    box-shadow: var(--boxshadow);
    cursor: pointer;

}
.fa-cart-shopping{
    color: var(--bg);
    font-size: 30px;
}
/* ! grid media querys */
@media (max-width:530px) {
    .prefences{
        grid-template-columns: 1fr;

    }
    
}
@media (min-width:800px) {
    .prefences{
        grid-template-columns: 1fr 1fr 1fr;
    }
    
}
.cartContainer{
    position: fixed;
    width: 270px;
    min-height: 300px;
    right: 3em;
    bottom: 1em;
background-color: var(--bg);
    border-radius: 10px;
    padding: 1em;
    transform: scaleX(0);
}
.showcart{
    transform: scaleX(1);
}
/* !end of prefences */


@media (max-width:640px) {
    .signupcontainer{
   grid-template-rows: 2fr 1fr;
    }
    .preloader{
        top: 0;
    }
    .singupForm h1{
        font-size: 25px;
        padding-top: 2em;
    }
    .landingPage{
        grid-template-rows: 1fr 1fr;
    }
    .content h1{
        font-size: 25px;
    }
    .content h2{
        font-size: 20px;
    }
    
}
.fa-plus{
    position: absolute;
    right: 1em ;
    bottom: 1em;
    font-size: 27px;
    font-weight: 800;
    cursor: pointer;

}
.fa-plus:hover{
    color: #1a659e;
}


@media (min-width:640px) {
    .signupcontainer{
        grid-template-columns: 2fr 1fr;
    }
    .landingPage{
        grid-template-columns: 1fr 1fr;
    }
    
}

@media (min-width:1200px) {
    .prefences{
        grid-template-columns:  1fr 1fr 1fr 1fr;
    }
    
}