
:root{
    --light_green:#38b000;
    --darkGreen:#008000a8;
    --darkBlue:#293241;
    --lightOrange:#ee6c4d;
    --lightWhite:#e0fbfc;
    --lightBlue:#98c1d9;
    --secondDarkBlue:#3d5a80;
    --bg:#f1f5f8;
    --clearWhite:#ffff;
    ---lightGreensish:#23a174;
    --txtOne:#edf6f9;
    --boldDarkText:#1a659e;
    --boxshadow:rgba(0, 0, 0, 0.1) 0px 4px 12px;
  
    
   


}

/* ! bnaviagtions */
.naviagtion1{
    display: flex;
    justify-content: space-between;
    padding: 10px 1.7em;
    align-items: center;
}
*{
    text-decoration: none;
    list-style: none;
}
.naviagtion1 ul{
    display: flex;
    gap: 2em;
}
.active{
    color: var(--lightOrange);
}
.notActive{
    color:var(--boldDarkText);
}

.fa-xmark,.fa-bars{
    font-size: 20px;
    position: absolute;
    right: 1em;
    cursor: pointer;
    visibility: hidden;
}

@media (max-width:800px) {
    .naviagtion1 ul{
        display: block;
        background-color: #1a659e;
        width: 50%;
        position: fixed;
        right: 0;
        height: 60vh;
        top: 1em;
        text-align: center;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        box-shadow: var(--boxshadow);
        transform: scaleX(0);
        transition: .4s ease-in-out;
        z-index: 3;
       
    }
    .naviagtion1 ul li{
        margin: 3em 0;
    }
    .fa-xmark{
        top: 1em;
        color: var(--bg);
    }
    .shownav ul{
        transform: scaleX(1);
    }
    .fa-bars,
    .fa-xmark{
        visibility: visible;
        cursor: pointer;
    }
    .notActive{
        color: var(--clearWhite);
    }
}

/* ! more details about mmissin and vision */
.container_more_info{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    background-color: var(--bg);
    padding-top: 4em;
    padding-left: 1em;
    padding-right: 1em;
}


.infoDescription{
    display: grid;
    place-content: center;
    gap: 1em;
}
.mission{
    background-color: var(--clearWhite);
    min-height: 150px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: var(--boxshadow);
    padding: 1em;
    
}
.mission p{
    text-align: left;
}
.mission:last-child{
    background-color: var(--boldDarkText);
    color: var(--bg);
}

.pop{
    background-color: var(--bg);
    width: 500px;
    height: 400px;
    border-radius: 10px;
    box-shadow: var(--boxshadow);
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.buttns{
    background-color: red;
    color: var(--bg);
    padding: 10px 2em;
    border-radius: 5px;
    border: none;
    box-shadow: var(--boxshadow);
    cursor: pointer;

}
.buttons{
    display: flex;
    gap: 1em;
    justify-content: space-around;
}
.accept{
    
    background-color: var(---lightGreensish);
}
.fa-circle-xmark{
    cursor: pointer;
}

.singlePref{
    padding: 7px;
    border-bottom: 1px solid var(--lightBlue);
    display: flex;
    justify-content: space-between;
}
.emptycart{
    display: grid;
   height: 100%;


}
.emptycart h3{
    padding: 2em 0;
}
.cart{
    cursor: default;
}
.btncontainer{
    text-align: center;
    padding: 1em ;
}
.fa-trash{
    color: var(--darkBlue);
    cursor: pointer;

}
.fa-trash:hover{
    color: red;
}

/* !mentors and metesss detais */
.menteesInformation{
    display: grid;
    gap: 1em;
    padding: 2em 1em;
    
}
.mentor{
 
    border-radius: 10px;
    background-color: var(--clearWhite);
    line-height: 2em;
    padding: 1em;
    box-shadow: var(--boxshadow);
}
.detailsOfMentor{
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.detailsOfMentor button{
    padding: 8px 12px;
    margin-top: 50px;
    cursor: pointer;
    color: #98c1d9;
    background-color: #293241;
    border: none;
    border-radius: 10px;
}
.detailsOfMentor button:hover{
    background-color: #1a659e;
}

.students{
    display: grid;
    gap: 1em;
}

.singleStudent{
    background-color: var(--clearWhite);
    min-height: 90px;
    border-radius: 10px;
    box-shadow: var(--boxshadow);
    padding: 10px 1em;
}
.singleStudent p{
    text-align: left;
}
.singleStudent button{
    padding: 8px 12px;
    margin-top: 50px;
    cursor: pointer;
    color: #98c1d9;
    background-color: #293241;
    border: none;
    border-radius: 10px;
}
.singleStudent button:hover{
    background-color: #1a659e;
}
.underline{
    text-decoration: underline;
    width: 100%;

}
.center2{
    text-align: center;
    padding-bottom: 1em;
    font-size: 18px;
}
.strongs{
    padding-right:  10px;
}


/* !tranfer of students css to here */

  .students-dash {
    background-color:var(--bg);
    min-height: 100vh;
  }
  .navbar {
  
    background-color: white;
  }
  .welcome-text {
    text-align: center;
    margin-bottom: 10px;
  }
  .single {
    padding: 8px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    gap: 1em;
  }
  .single h3 {
    font-size: 20px;
    text-align: center;
  }
  .single button {
    padding: 8px 12px;
    /* margin-top: 50px; */
    cursor: pointer;
    color: #98c1d9;
    background-color: #293241;
    border: none;
    border-radius: 10px;
  }
  .single button:hover {
    background-color: #1a659e;
  }
  .profile-cards {
    padding: 8px;
  }
  /*!end of students css  */

 .extras_container{
    display: grid;
    place-content: center;
    margin-top: 2em;
 }
 .extrasImage img{
    width: 100%;
 }
 .descriptions{
    display: grid;
    place-content: center;
 }


 /* !articles styles css */
 .articles_container{
    background-color: var(--bg);

 }

 .articles{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    padding:  1em ;
    place-items: center;
 }

 .article{
    height: 400px;
    border-radius: 10px;
    box-shadow: var(--boxshadow);
  
 }
 .image_container{
    position: relative;
    height: 400px
 }
 .image_container img{
width: 100%;
height: 100%;
object-fit: cover;
border-radius: 10px;
 }
 .textAbsolute{
    position: absolute;
    background-color: var(--clearWhite);
   bottom: 0;
   height: 50%;
   border-bottom-right-radius: 10px;
   border-bottom-left-radius: 10px;
    
    width: 100%;
 }
 .link{
    color: var(--darkBlue);
 }
 .link p{
    text-align: left;
    padding: 1em;
 }
 /* !end of articles styles  */

@media (max-width:520px) {
    .naviagtion1 ul{
        width: 80%;
    }
    .menteesInformation{
        grid-template-columns: 1fr;
    }
    .articles{
        grid-template-columns: 1fr;
    }

   
    .me

    .pop h1{
        font-size: 25px;
    }
    .pop{
        width: 320px;
    }
   
    
}

@media (max-width:800px) {
    .container_more_info{
        grid-template-columns: 1fr;
    }
    
    
}

@media (min-width:900px) {
    .naviagtion1 ul{
        gap: 5em;
        font-size: 17px;
    }
    .articles{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .infoDescription{
        grid-template-columns: 1fr 1fr;
    }
    .menteesInformation{
        grid-template-columns: 1fr 2fr;
    }
    .students{
        grid-template-columns: 1fr 1fr;
    }
 
    .imagecont{
        grid-template-columns: 1fr 1fr;
    }
    .extras_container{
        grid-template-columns: 1fr 1fr;
    }
    
    
}
@media (min-width:1200px) {
    .students{
        grid-template-columns:  1fr 1fr 1fr;
    }
    .articles{
        grid-template-columns:  1fr 1fr 1fr 1fr ;
    }
    
}
/* @media (min-width:1500px) {
    .articles{
        grid-template-columns:  1fr 1fr 1fr 1fr 1fr;
    }
} */

.students-dash{
    color:#023047 ;
}

.warning{
    background-color: var(--clearWhite);
    padding: 1em;
    line-height: 2em;
}
.linkto{
    color: blue;
}